apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: redis
  name: redis
spec:
  ports:
  - name: "6389"
    port: 6389
    protocol: TCP
    targetPort: 6389
  selector:
    app: redis
  type: ClusterIP
